axios==0.4.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
gunicorn==23.0.0
jsonify==0.5
mysql-connector-python==9.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
redis==5.1.1
requests==2.32.3
SQLAlchemy==2.0.36
